<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div>
        <div>
            <h2>삼성전자</h2>
        </div>
        <span>005930 KOSPI</span>
    </div>
    <div>
        <div>
            <strong>50,100</strong>
            <div>
                <span>
                    <em>▼</em>
                    <span>1,300</span>
                </span>
                <span>
                    <span>-2.53</span>
                <span>%</span>
                </span>
            </div>
        </div>
        <img src="https://ssl.pstatic.net/imgfinance/chart/mobile/mini/005930_end_up.png?1587386850190">
    </div>


</body>

</html>